<h1>Pirate Info</h1>
<p>Pirate name: <%=@pirate_hash[:name]%></p>
<p>Pirate height: <%=@pirate_hash[:height]%></p>
<p>Pirate weight: <%=@pirate_hash[:weight]%></p>
<p>ship1 name: <%=@pirate_hash[:ships][0][:name]%></p>
<p>ship1 type: <%=@pirate_hash[:ships][0][:type]%></p>
<p>ship1 booty: <%=@pirate_hash[:ships][0][:booty]%></p>
<p>ship2 name: <%=@pirate_hash[:ships][1][:name]%></p>
<p>ship2 type: <%=@pirate_hash[:ships][1][:type]%></p>
<p>ship2 booty: <%=@pirate_hash[:ships][1][:booty]%></p>